Name: Mohammed Usamah

Roll Number: BAIM-S20-002

In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import r2_score
from sklearn.decomposition import PCA
from sklearn.decomposition import TruncatedSVD
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("newhousing.csv")

In [3]:
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished,areaperbedroom,bbratio
0,5250000,5500,3,2,1,1,0,1,0,0,0,0,1,0,1833.333333,0.666667
1,4480000,4040,3,1,2,1,0,0,0,0,1,0,1,0,1346.666667,0.333333
2,3570000,3640,2,1,1,1,0,0,0,0,0,0,0,1,1820.000000,0.500000
3,2870000,3040,2,1,1,0,0,0,0,0,0,0,0,1,1520.000000,0.500000
4,3570000,4500,2,1,1,0,0,0,0,0,0,0,0,0,2250.000000,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,4403000,4880,3,1,1,1,0,0,0,0,2,1,0,1,1626.666667,0.333333
541,2660000,2000,2,1,2,1,0,0,0,0,0,0,1,0,1000.000000,0.500000
542,4480000,8250,3,1,1,1,0,0,0,0,0,0,0,0,2750.000000,0.333333
543,5110000,11410,2,1,2,1,0,0,0,0,0,1,0,0,5705.000000,0.500000
544,4410000,3968,3,1,2,0,0,0,0,0,0,0,1,0,1322.666667,0.333333

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   price            545 non-null    int64
 1   area             545 non-null    int64
 2   bedrooms         545 non-null    int64
 3   bathrooms        545 non-null    int64
 4   stories          545 non-null    int64
 5   mainroad         545 non-null    int64
 6   guestroom        545 non-null    int64
 7   basement         545 non-null    int64
 8   hotwaterheating  545 non-null    int64
 9   airconditioning  545 non-null    int64
 10  parking          545 non-null    int64
 11  prefarea         545 non-null    int64
 12  semi-furnished   545 non-null    int64
 13  unfurnished      545 non-null    int64
 14  areaperbedroom   545 non-null    float64
 15  bbratio          545 non-null    float64
dtypes: float64(2), int64(14)
memory usage: 68.2 KB

In [5]:
data.describe()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished,areaperbedroom,bbratio
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.858716,0.177982,0.350459,0.045872,0.315596,0.693578,0.234862,0.416514,0.326606,1819.852599,0.446361
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.348635,0.382849,0.477552,0.209399,0.465180,0.861586,0.424302,0.493434,0.469402,839.091825,0.159492
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,381.000000,0.166667
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1237.500000,0.333333
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1666.666667,0.400000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,2183.333333,0.500000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000,1.000000,6600.000000,1.000000

In [6]:
data.isnull().sum()

price              0
area               0
bedrooms           0
bathrooms          0
stories            0
mainroad           0
guestroom          0
basement           0
hotwaterheating    0
airconditioning    0
parking            0
prefarea           0
semi-furnished     0
unfurnished        0
areaperbedroom     0
bbratio            0
dtype: int64

In [7]:
data.duplicated().sum()

0

In [8]:
data.eq(other=0,axis=1).sum()

price                0
area                 0
bedrooms             0
bathrooms            0
stories              0
mainroad            77
guestroom          448
basement           354
hotwaterheating    520
airconditioning    373
parking            299
prefarea           417
semi-furnished     318
unfurnished        367
areaperbedroom       0
bbratio              0
dtype: int64

In [9]:
corr_matrix = data.corr()

In [10]:
corr_matrix['price'].sort_values(ascending=True)

unfurnished       -0.280587
semi-furnished     0.063656
hotwaterheating    0.093073
basement           0.187057
bbratio            0.231732
areaperbedroom     0.244809
guestroom          0.255517
mainroad           0.296898
prefarea           0.329777
bedrooms           0.366494
parking            0.384394
stories            0.420712
airconditioning    0.452954
bathrooms          0.517545
area               0.535997
price              1.000000
Name: price, dtype: float64

In [11]:
Features = ['price','area','bathrooms','airconditioning','stories',
            'parking','bedrooms','prefarea','mainroad','hotwaterheating']

In [12]:
X = data.drop('price',axis='columns')
Y = data["price"]

In [13]:
Y

0      5250000
1      4480000
2      3570000
3      2870000
4      3570000
        ...
540    4403000
541    2660000
542    4480000
543    5110000
544    4410000
Name: price, Length: 545, dtype: int64

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,train_size=.20)

In [15]:
X_train

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished,areaperbedroom,bbratio
197,3970,3,1,2,1,0,1,0,0,0,0,0,1,1323.333333,0.333333
77,3630,3,3,2,0,1,0,0,0,0,0,0,1,1210.000000,1.000000
23,6050,3,1,1,1,0,1,0,0,0,1,1,0,2016.666667,0.333333
521,2398,3,1,1,1,0,0,0,0,0,1,1,0,799.333333,0.333333
302,4400,3,1,2,1,0,0,0,0,0,0,0,1,1466.666667,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,6800,2,1,1,1,1,1,0,0,2,0,0,0,3400.000000,0.500000
13,6825,3,1,1,1,1,1,0,1,0,1,1,0,2275.000000,0.333333
236,6360,3,2,4,1,0,0,0,1,0,1,0,0,2120.000000,0.666667
137,6750,2,1,1,1,0,0,0,0,0,0,1,0,3375.000000,0.500000
329,5960,3,3,2,1,1,1,0,0,1,0,0,1,1986.666667,1.000000

In [16]:
x_train = X_train - X_train.mean()
x_train

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished,areaperbedroom,bbratio
197,-1464.321101,0.018349,-0.275229,0.293578,0.12844,-0.165138,0.651376,-0.009174,-0.302752,-0.577982,-0.266055,-0.40367,0.651376,-592.268349,-0.105046
77,-1804.321101,0.018349,1.724771,0.293578,-0.87156,0.834862,-0.348624,-0.009174,-0.302752,-0.577982,-0.266055,-0.40367,0.651376,-705.601682,0.561621
23,615.678899,0.018349,-0.275229,-0.706422,0.12844,-0.165138,0.651376,-0.009174,-0.302752,-0.577982,0.733945,0.59633,-0.348624,101.064985,-0.105046
521,-3036.321101,0.018349,-0.275229,-0.706422,0.12844,-0.165138,-0.348624,-0.009174,-0.302752,-0.577982,0.733945,0.59633,-0.348624,-1116.268349,-0.105046
302,-1034.321101,0.018349,-0.275229,0.293578,0.12844,-0.165138,-0.348624,-0.009174,-0.302752,-0.577982,-0.266055,-0.40367,0.651376,-448.935015,-0.105046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,1365.678899,-0.981651,-0.275229,-0.706422,0.12844,0.834862,0.651376,-0.009174,-0.302752,1.422018,-0.266055,-0.40367,-0.348624,1484.398318,0.061621
13,1390.678899,0.018349,-0.275229,-0.706422,0.12844,0.834862,0.651376,-0.009174,0.697248,-0.577982,0.733945,0.59633,-0.348624,359.398318,-0.105046
236,925.678899,0.018349,0.724771,2.293578,0.12844,-0.165138,-0.348624,-0.009174,0.697248,-0.577982,0.733945,-0.40367,-0.348624,204.398318,0.228287
137,1315.678899,-0.981651,-0.275229,-0.706422,0.12844,-0.165138,-0.348624,-0.009174,-0.302752,-0.577982,-0.266055,0.59633,-0.348624,1459.398318,0.061621
329,525.678899,0.018349,1.724771,0.293578,0.12844,0.834862,0.651376,-0.009174,-0.302752,0.422018,-0.266055,-0.40367,0.651376,71.064985,0.561621

In [17]:
x_test = X_test - X_test.mean()
x_test

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished,areaperbedroom,bbratio
433,420.40367,0.038991,0.711009,0.169725,0.144495,-0.181193,-0.350917,-0.055046,-0.318807,0.277523,-0.227064,0.580275,-0.321101,37.418004,0.218310
424,4587.40367,1.038991,0.711009,0.169725,0.144495,0.818807,0.649083,-0.055046,-0.318807,0.277523,-0.227064,0.580275,-0.321101,620.834671,0.051644
155,2620.40367,-0.961009,-0.288991,-0.830275,0.144495,-0.181193,-0.350917,-0.055046,-0.318807,-0.722477,-0.227064,-0.419725,0.678899,2054.084671,0.051644
27,770.40367,0.038991,-0.288991,0.169725,0.144495,-0.181193,0.649083,-0.055046,-0.318807,0.277523,-0.227064,-0.419725,0.678899,154.084671,-0.115023
126,868.40367,0.038991,-0.288991,0.169725,0.144495,-0.181193,-0.350917,-0.055046,0.681193,-0.722477,-0.227064,0.580275,-0.321101,186.751338,-0.115023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,1020.40367,0.038991,-0.288991,1.169725,0.144495,0.818807,-0.350917,-0.055046,0.681193,-0.722477,0.772936,0.580275,-0.321101,237.418004,-0.115023
288,-447.59633,1.038991,-0.288991,0.169725,0.144495,-0.181193,-0.350917,-0.055046,0.681193,-0.722477,-0.227064,0.580275,-0.321101,-637.915329,-0.198356
215,-959.59633,-0.961009,-0.288991,0.169725,0.144495,-0.181193,-0.350917,-0.055046,-0.318807,-0.722477,-0.227064,-0.419725,0.678899,264.084671,0.051644
295,-759.59633,0.038991,-0.288991,-0.830275,-0.855505,-0.181193,-0.350917,-0.055046,-0.318807,0.277523,-0.227064,-0.419725,0.678899,-355.915329,-0.115023
84,-1439.59633,0.038991,0.711009,0.169725,0.144495,-0.181193,0.649083,-0.055046,-0.318807,-0.722477,-0.227064,-0.419725,0.678899,-582.581996,0.218310

In [18]:
lin_reg = LinearRegression()
model = lin_reg.fit(x_train,Y_train)

In [19]:
normalTrainScore=model.score(x_train,Y_train)
normalTrainScore

0.7198754896244681

In [20]:
pre = model.predict(x_test)

In [21]:
normalScore=r2_score(pre,Y_test)

In [22]:
normalScore

0.41075894094470833

In [23]:
svd = TruncatedSVD(n_components=10)
SVD = svd.fit_transform(x_train)

In [24]:
SVD

array([[-1.57790885e+03, -7.22645372e+01,  2.37619010e-01, ...,
         6.60842798e-01, -2.46999088e-01,  5.30184429e-03],
       [-1.93624945e+03, -6.62323673e+01,  7.69535909e-01, ...,
         7.49373015e-02,  1.00604728e+00,  1.90709668e-01],
       [ 6.14293015e+02, -1.09171606e+02, -5.66504308e-01, ...,
         1.32384222e-01,  2.14128574e-01,  9.35953632e-02],
       ...,
       [ 9.41015658e+02, -1.14674281e+02,  2.28154476e+00, ...,
        -6.62709132e-01,  7.11091328e-02,  2.76817071e-01],
       [ 1.72572487e+03,  9.39536759e+02,  2.61723179e-01, ...,
         2.17745192e-01,  1.28997703e-01, -7.29416710e-03],
       [ 5.19438328e+02, -1.07575896e+02,  4.13684056e-02, ...,
         6.89279433e-01,  1.00621398e+00,  6.75576763e-02]])

In [25]:
SVD_Ler = LinearRegression()

In [26]:
SVD_model = SVD_Ler.fit(SVD,Y_train)
SVDTrainScore=SVD_Ler.score(SVD,Y_train)
SVDTrainScore

0.7018648562319629

In [27]:
SVD_test = svd.transform(x_test)
SVD_pre = SVD_Ler.predict(SVD_test)
SVD_Test_Score=r2_score(SVD_pre,Y_test)
SVD_Test_Score

0.4631835402937744

In [28]:
pca = PCA(n_components = 10, whiten = True)
Pca = pca.fit_transform(x_train)

In [29]:
PCA_Ler = LinearRegression()

In [30]:
PCA_model = PCA_Ler.fit(Pca,Y_train)
PCA_Train_Score=PCA_Ler.score(Pca,Y_train)
PCA_Train_Score

0.7018648562319629

In [31]:
PCA_test = pca.transform(x_test)
PCA_pre = SVD_Ler.predict(PCA_test)
PCA_Test_Score=r2_score(PCA_pre,Y_test)
PCA_Test_Score

-0.11489849611778302

In [37]:
print(f"\t   The Liner Regression Score\n     Train                               Test\n{normalTrainScore}                {normalScore}")
print(f"\t          The SVD Score\n     Train                               Test\n{SVDTrainScore}                {SVD_Test_Score}")
print(f"\t          The PCA Score\n     Train                               Test\n{PCA_Train_Score}                {PCA_Test_Score}")

	   The Liner Regression Score
     Train                               Test
0.7198754896244681                0.41075894094470833
	          The SVD Score
     Train                               Test
0.7018648562319629                0.4631835402937744
	          The PCA Score
     Train                               Test
0.7018648562319629                -0.11489849611778302